# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env
.env.local

# Node.js
node_modules/
dist/
build/
.next/
out/
.vercel
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# DB/Secrets
*.sql
!seed_*.sql
*.key
*.cert
*.pem
master_key.txt
